{% extends "index.html" %}


{% block navbar %}
  <li><a href="/" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Home</span></a></li>
  <li><a href="/about" class="nav-link scrollto active"><i class="bx bx-user"></i> <span>About</span></a></li>
  <li><a href="/register" class="nav-link scrollto"><i class="bx bx-user-plus"></i> <span>Register</span></a></li>
  <li><a href="/login" class="nav-link scrollto"><i class="bx bx-log-in"></i> <span>Login</span></a></li>
{% endblock %}


{% block main %}
  <div class="row">
    <div class="col-3">
    </div>

    <div class="col-9">
      <section id="about" class="about">
        <div class="container">
    
          <div class="section-title">
            <h2>About</h2>
            <p style="text-align: justify;">Soil, also commonly referred to as earth or dirt, is a mixture of organic matter, minerals, gases, liquids,
              and organisms that together support life. Some scientific definitions distinguish dirt from soil by
              restricting the former term specifically to displaced soil.</p>
          </div>
    
          <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
              <img src="/static/assets/img/s4.jpeg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
              <h3>The pedosphere interfaces with the lithosphere, the hydrosphere, the atmosphere, and the biosphere. &amp;
                Collectively, Earth's body of soil, called the pedosphere, has four important functions</h3>

              <div class="col-lg-12">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong> As a medium for plant growth</strong></li>
                  <li><i class="bi bi-chevron-right"></i> <strong> As a means of water storage, supply and
                      purification</strong></li>
                  <li><i class="bi bi-chevron-right"></i> <strong> As a modifier of Earth's atmosphere</strong></li>
                  <li><i class="bi bi-chevron-right"></i> <strong> As a habitat for organisms</strong></li>
                </ul>
              </div>
            </div>

            <p class="fst-italic" style="text-align: justify;">
              Most soils have a dry bulk density (density of soil taking into account voids when dry) between 1.1 and 1.6
              g/cm3, though the soil particle density is much higher, in the range of 2.6 to 2.7 g/cm3. Little of the soil
              of planet Earth is older than the Pleistocene and none is older than the Cenozoic, although fossilized soils
              are preserved from as far back as the Archean.
            </p>
    
              <p style="text-align: justify;">
                All of these functions, in their turn, modify the soil and its properties.
  
                Soil science has two basic branches of study: edaphology and pedology. Edaphology studies the influence of
                soils on living things. Pedology focuses on the formation, description (morphology), and classification of
                soils in their natural environment. In engineering terms, soil is included in the broader concept of
                regolith, which also includes other loose material that lies above the bedrock, as can be found on the
                Moon and other celestial objects.
              </p>
            </div><br>

            <div class="section-title">
              <p style="text-align: justify;">Soil is a major component of the Earth's ecosystem. The world's ecosystems are impacted in far-reaching
                ways by the processes carried out in the soil, with effects ranging from ozone depletion and global warming
                to rainforest destruction and water pollution. With respect to Earth's carbon cycle, soil acts as an
                important carbon reservoir, and it is potentially one of the most reactive to human disturbance and climate
                change. As the planet warms, it has been predicted that soils will add carbon dioxide to the atmosphere due
                to increased biological activity at higher temperatures, a positive feedback (amplification). This
                prediction has, however, been questioned on consideration of more recent knowledge on soil carbon turnover.
              </p><br>

              <p style="text-align: justify;">Soil acts as an engineering medium, a habitat for soil organisms, a recycling system for nutrients and
                organic wastes, a regulator of water quality, a modifier of atmospheric composition, and a medium for plant
                growth, making it a critically important provider of ecosystem services. Since soil has a tremendous range
                of available niches and habitats, it contains a prominent part of the Earth's genetic diversity. A gram of
                soil can contain billions of organisms, belonging to thousands of species, mostly microbial and largely
                still unexplored. Soil has a mean prokaryotic density of roughly 108 organisms per gram, whereas the ocean
                has no more than 107 prokaryotic organisms per milliliter (gram) of seawater.Organic carbon held in soil is
                eventually returned to the atmosphere through the process of respiration carried out by heterotrophic
                organisms, but a substantial part is retained in the soil in the form of soil organic matter; tillage
                usually increases the rate of soil respiration, leading to the depletion of soil organic matter.Since plant
                roots need oxygen, aeration is an important characteristic of soil. This ventilation can be accomplished via
                networks of interconnected soil pores, which also absorb and hold rainwater making it readily available for
                uptake by plants. Since plants require a nearly continuous supply of water, but most regions receive
                sporadic rainfall, the water-holding capacity of soils is vital for plant survival</p>
            </div>
    
          </div>
      </section>
    </div>
  </div>
  


{% endblock %}