{% extends "index.html" %}


{% block navbar %}
  <li><a href="/home" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
  <li><a href="/soilprediction" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Soil Prediction</span></a></li>
  <li><a href="/croppredictiopn" class="nav-link scrollto"><i class="bx bx-user-plus"></i> <span>Crop Prediction</span></a></li>
  <li><a href="/plantprediction" class="nav-link scrollto"><i class="bx bx-user-plus"></i> <span>Plant Prediction</span></a></li>
  <li><a href="/login" class="nav-link scrollto"><i class="bx bx-log-in"></i> <span>Logout</span></a></li>
{% endblock %}


{% block main %}
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
      <div class="hero-container" data-aos="fade-in">
        <h1>Soil Prediction </h1>
        <p> <span class="typed" data-typed-items="Soil, also commonly, referred ,to as earth or dirt"></span></p>
      </div>
    </section>
{% endblock %}
