{% extends "index.html" %}


{% block navbar %}
  <li><a href="/home" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Home</span></a></li>
  <li><a href="/soilprediction" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Soil Prediction</span></a></li>
  <li><a href="/croppredictiopn" class="nav-link scrollto"><i class="bx bx-user-plus"></i> <span>Crop Prediction</span></a></li>
  <li><a href="/plantprediction" class="nav-link scrollto active"><i class="bx bx-user-plus"></i> <span>Plant Prediction</span></a></li>
  <li><a href="/login" class="nav-link scrollto"><i class="bx bx-log-in"></i> <span>Logout</span></a></li>
{% endblock %}


{% block main %}
<div class="row">
    <div class="col-5">
    </div>

    <div class="col-4">
      <section id="resume" class="resume">
          <div class="container">

              <div class="section-title">
                  <h2>Plant Prediction</h2>
              </div>

              <form action="{% url 'plantprediction' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% if msg %}
                    <center>
                        <div style="text-align: justify;">
                            <img src="{{path}}"><br><br>
                            <h4><b>Prediction: </b>{{text}}</h4><br>
                            <p><b>Probabilty: </b>{{a}}</p><br>
                            <p><b>Description: </b>{{msg}}</p>
                        </div>
                        
                    </center><br><br>
                {% endif %}

                <center>
                    
                <select name="alg" class="form-control" required>
                    <option  value="" >Choose Model</option>
                    <option  value="2" >ANN Model</option>
                    <option  value="3" >CNN Model</option>
                    <option  value="4">MobileNet</option>
                </select><br>

                <input type="file" name="file" name="N" accept="image/*" class="form-control" required><br>

                <button type="submit" class="btn btn-primary">Submit</button>

              </form>
      
            </div>
          </section>

      </div>

      <div class="col-3">
    </div>
  </div>
{% endblock %}



