{% extends "index.html" %}


{% block navbar %}
  <li><a href="/home" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Home</span></a></li>
  <li><a href="/soilprediction" class="nav-link scrollto active"><i class="bx bx-user"></i> <span>Soil Prediction</span></a></li>
  <li><a href="/croppredictiopn" class="nav-link scrollto"><i class="bx bx-user-plus"></i> <span>Crop Prediction</span></a></li>
  <li><a href="/plantprediction" class="nav-link scrollto"><i class="bx bx-user-plus"></i> <span>Plant Prediction</span></a></li>
  <li><a href="/login" class="nav-link scrollto"><i class="bx bx-log-in"></i> <span>Logout</span></a></li>
{% endblock %}


{% block main %}
<div class="row">
    <div class="col-3">
    </div>

    <div class="col-9">
      <section id="resume" class="resume">
          <div class="container">

              <div class="section-title">
                  <h2>Soil Prediction</h2>
              </div>

              <form action="{% url 'soilprediction' %}" method="post">
                {% csrf_token %}

                <center>
                  <b style="color: rgb(0, 0, 0);font-size: 50px;">{{msg}}</b>
                </center><br><br>

                <center>

                  <div class="row">
                    <div class="col">
                      <input type="number" step="0.0001" name="PH" placeholder="Enter PH value" class="form-control">
                    </div>

                    <div class="col">
                      <input type="number" step="0.0001" name="EC" placeholder="Enter EC value" class="form-control">
                    </div>

                    <div class="col">
                      <input type="number" step="0.0001" name="OC" placeholder="Enter OC value" class="form-control">
                    </div>
                  </div><br>

                  
                  <div class="row">
                    <div class="col">
                      <input type="number" step="0.0001" name="OM" placeholder="Enter OM value" class="form-control">
                    </div>

                    <div class="col">
                      <input type="number" step="0.0001" name="N" placeholder="Enter N" class="form-control">
                    </div>

                    <div class="col">
                      <input type="number" step="0.0001" name="P" placeholder="Enter P value" class="form-control">
                    </div>
                  </div><br>

                  <div class="row">
                    <div class="col">
                      <input type="number" step="0.0001" name="K" placeholder="Enter K value" class="form-control">
                    </div>

                    <div class="col">
                      <input type="number" step="0.0001" name="Zn" placeholder="Enter Zn value" class="form-control">
                    </div>

                    <div class="col">
                      <input type="number" step="0.0001" name="Mn" placeholder="Enter Mn value" class="form-control">
                    </div>
                  </div><br>

                  <div class="row">
                    <div class="col">
                      <input type="number" step="0.0001" name="Fe" placeholder="Enter Fe value" class="form-control">
                    </div>

                    <div class="col">
                      <input type="number" step="0.0001" name="Cu" placeholder="Enter Cu value" class="form-control">
                    </div>

                    <div class="col">
                      <input type="number" step="0.0001" name="Sand" placeholder="Enter Sand value" class="form-control">
                    </div>
                  </div><br>

                  <div class="row">
                    <div class="col">
                      <input type="number" step="0.0001" name="Silt" placeholder="Enter Silt value" class="form-control">
                    </div>

                    <div class="col">
                      <input type="number" step="0.0001" name="Clay" placeholder="Enter Clay value" class="form-control">
                    </div>

                    <div class="col">
                      <input type="number" step="0.0001" name="CaCO3" placeholder="Enter CaCO3 value" class="form-control">
                    </div>
                  </div><br>

                  <div class="row">
                    <div class="col">
                    </div>

                    <div class="col">
                      <input type="number" step="0.0001" name="CEC" placeholder="Enter CEC value" class="form-control">
                    </div>

                    <div class="col">
                    </div>
                  </div><br>

                  <div class="row">
                    <div class="col">
                    </div>

                    <div class="col">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                    <div class="col">
                    </div>
                  </div><br>
              </form>
      
            </div>
          </section>

          <h1 style="color: black;">ACCURACY</h1>

          <center>
            <img src="/static/img/acc1.PNG"><br><br>
            <img src="/static/img/acc2.PNG">
          </center><br>

      </div>
  </div>
{% endblock %}



